.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 2rem 0;
}

.card h2 {
  margin-top: 0;
}

.read-the-docs {
  color: #888;
}
